/* generle rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  background-color: #21252C;
}

/* MENU NAVIGAZIONE */
nav{
  float: left;
  height: calc(100vh - 70px);
  width: 200px;
  padding: 20px;
  background-color: black;
  color: white;
  overflow: hidden;
}

.nav_top{
  width: 100%;
  height: calc(100% - 60px);
  min-height: 490px;
}
.logo{
  padding-bottom: 10px;
}

/* Appare con il responsive xs */
.logo_small{
  display: none;
  padding-bottom: 10px;
}


.vertical_menu{
  color: #808287;
}

.vertical_menu ul, .name_playlist ul{
  list-style: none;
  padding-top: 10px;
}

.vertical_menu ul li, .name_playlist ul li{
  padding: 10px 0px;
  font-size: 12px;
  cursor: pointer;
}

.vertical_menu ul li:hover{
  color: white;
  cursor: pointer;
}


.vertical_menu ul li img{
  width: 15%;
  vertical-align: middle;
}


.over{
  overflow: hidden;
}

/* Sezione Playlist */
.create_playlist{
  color:#808287;
}

.create_playlist .plus{
  font-size: 50px;
  vertical-align: middle;
  color:#808287;
}

.create_playlist:hover, .create_playlist .plus:hover {
  vertical-align: middle;
  color:white;
  cursor: pointer;
}

/* Varie playlist personali */
.name_playlist{
  height: 29vh;
  font-weight: 900;
  color:#808287;
  overflow: auto;
}

.name_playlist ul li:hover{
  color: white;
}

.nav_bottom{
  width: 100%;
  height: 60px;
}

/* Sezione Installa app */
.install{
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  font-weight: 900;
  color: #808287;
  cursor: pointer;
}

.install:hover{
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  font-weight: 900;
  color: white;
}

.install i{
  background-color: white;
  color: black;
  border-radius: 50%; 
  cursor: pointer;
}

/* Nome Utente */
.user{
  padding-top: 10px;
}

.user img{
  width: 15%;
  vertical-align: middle;
  background-color: grey;
  border-radius: 50%; 
  cursor: pointer;
}

.user span{
  padding-bottom: 10px;
  font-weight: 700;
  color: white;
  cursor: text;
}

/* SEZIONE SCELTA ALBUM  */
section{
  float: left;
  height: calc(100vh - 70px);
  overflow: auto;
  width: calc(100% - 200px);
}

/* UPGREADE */
.upgrade{
  position: fixed;
  z-index: 999;
  width: calc(100% - 200px);
  height: 70px;
  background-color: rgba(8, 11, 18, 0.8);
  text-align: right;
  
}

.upgrade button{
  padding: 5px 25px;
  margin: 5px;
  border-radius: 25px;
  margin: 20px;
  background-color: black;
  color: white;
  border-color: white;
  cursor: pointer;
}

.upgrade button:hover{
  transform: scale(1.2);
}

/* VARIETA' SCELTA BRANI*/
.category_album{
  width: 100%;
  margin-top: 70px;
  background-color: #21252C;
  padding: 0px 20px;
}

.category_album ul{
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}

.category_album ul li{
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  color: #808287;
}

.category_album ul li:hover{
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  color: white;
}

.category_album ul li:nth-child(1){
  position: relative;
}

.category_album ul li .line_lime{
  position: absolute;
  bottom: 0;
  left: 45px;
  width: 40px;
  height: 2px;
  background-color: lime;

}

.category_album h2{
  font-weight: 900;
  color: #ffffff;
  padding: 0 0 5px 5px;
}

.album{
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding-bottom: 50px;
}

.info_album
{
  padding: 0px 5px;
  width: calc(100% / 6);
}

.cover{
  position: relative;
  margin-bottom: 10px;
  
}

.start{
  transition: all 1s;
}

.icon_start{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0px;
  color: white;
  transition: color 1s, font-size 1s;
}

.cover:hover .start{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cover:hover .icon_start{
  font-size: 70px;
  color: white;
  z-index: 100;
  cursor: pointer;
}


.cover img{
  display: block;
  width: 100%;
  cursor: pointer;
}

.cover .circle{
  width: 100%;
  border-radius: 50%;
}

.title h3, .playlist h3{
  padding-bottom: 10px;
  font-weight: 700;
  color: white;
}

.category_album h6{
  padding-bottom: 10px;
  font-weight: 700;
  padding: 0 0 10px 5px;
  color: #5D6066;
}



/* Footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #282828;
}

/* Sezione musica in riproduzione */
.play_album{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: 240px;
  height: 100%;
  padding-left: 10px;
}


.small_album{
  width: 25%;
}


.small_album img{
  width: 100%;
}

.name_album h6{
  color: #808287;
}

.name_album h6:hover{
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

.name_album, .favorite{
  padding-left: 20px;
  color: #808287;
}

.name_album, .favorite i{
  padding-right: 4px;
}

.name_album, .favorite i:hover{
  padding-right: 4px;
  color: white;
}

/* Sezione di controllo della musica */
.controller{
  color: white;
  text-align: center;
  width: 50%;
}

.controller_button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.controller_button i {
  font-size: 100%;
  padding: 0px 10px;
  cursor: pointer;
}

.controller_button i.play {
  font-size: 25px;
}

.controller_button i.play:hover {
  transform: scale(1.5);
}

.time span{
  font-size: 10px;
}

.time .time_bar{
  position: relative;
  display: inline-block;
  width: 65%;
  height: 5px;
  background-color: #5A5A5A;
  border-radius: 5px;
  cursor: pointer;
}

.time_passed, .volume_select{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 10;
  display: inline-block;
  width: 20%;
  height: 5px;
  background-color: #C1C1C1;
  border-radius: 5px;
  transition: all 3s linear;
}

.time_passed:hover, .volume_select:hover{
  width: 60%;
  background-color: lime;
}

.highlighted_bar{
  display: none;
}

/* Animazione Hover standard */

/* .time_bar:hover .highlighted_bar{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 10;
  width: 52%;
  height: 5px;
  background-color: lime;
  border-radius: 5px;
  cursor: pointer;
} */

.circle_bar{
  display: none;
}

/* Selettore delle barre */
.time_bar:hover .circle_bar, .volume_bar:hover .circle_bar{
  position: absolute;
  display: inline-block;
  z-index: 111;
  bottom: -7px;
  left: 20%;
  width: 20px;
  height: 20px;
  background-color: #C1C1C1;
  border-radius: 50%;
  cursor: pointer;
  animation: move 3s linear forwards ;
}

@keyframes move{
  0% {
    left: 20%;
  }

  100% {
    left: 57%;
  }
}

/* opzioni volume */
.volume{
  display: flex;
  align-items: center;
  width: 240px;
  text-align: right;
  padding: 0px 5px;
}

.volume_icon{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.volume_icon i{
  color: white;
  padding-right: 20px;
}

.volume .volume_bar{
  position: relative;
  display: inline-block;
  width: 43%;
  height: 5px;
  background-color: #5A5A5A;
  border-radius: 5px;
}

/* Animazione Hover standard */
/* .volume_bar:hover .highlighted_bar{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 10;
  display: inline-block;
  width: 55px;
  height: 5px;
  background-color: lime;
  border-radius: 5px;
  cursor: pointer;
} */

.volume_select{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: inline-block;
  width: 20%;
  height: 5px;
  background-color: #C1C1C1;
  border-radius: 5px;
}



/* RESPONSIVE BREAKPOINT */
@media (max-width: 1100px){

  .album{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .info_album{
    width: 25%;
  }

}


@media (max-width: 770px){

  .album{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .info_album{
    width: 50%;
  }

}


@media (max-width: 575px){

  .album{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .info_album{
    width: 50%;
  }

  nav{
    float: left;
    height: calc(100vh - 70px);
    width: 80px;
    padding: 20px;
    background-color: black;
    color: white;
    overflow: hidden;
  }

  section{
    float: left;
    height: calc(100vh - 70px);
    overflow: auto;
    width: calc(100% - 80px);
  }

  .upgrade{
    position: fixed;
    z-index: 999;
    width: calc(100% - 80px);
    height: 70px;
    background-color: rgba(8, 11, 18, 0.8);
    text-align: right;
  }

  .logo, .vertical_menu ul li span, .over, .install span, .user span{
    display: none;
  }

  .logo_small{
    display: block;
    width: 100%;
  }

  .vertical_menu ul li img{
    width: 100%;
  }

  .install{
    text-align: center;
    border: none;
  }

  .user{
    text-align: center;
  }

  .user img{
    width: 80%;
  }



}

  