/* generle rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  background-color: #21252C;
}

/* MENU NAVIGAZIONE */
nav{
  float: left;
  height: calc(100vh - 70px);
  width: 200px;
  padding: 20px;
  background-color: black;
  color: white;
  overflow: hidden;
}

.nav_top{
  width: 100%;
  height: calc(100% - 60px);
  min-height: 450px;
}
.logo{
  padding-bottom: 10px;
}

.vertical_menu ul, .name_playlist ul{
  list-style: none;
  padding-bottom: 20px;
}

.vertical_menu ul li, .name_playlist ul li{
  padding: 10px 0px;
  font-size: 12px;
  cursor: pointer;
}


.vertical_menu ul li img{
  width: 15%;
  vertical-align: middle;
}

.create_playlist .plus{
  font-size: 50px;
  vertical-align: middle;
  color:#808287;
}

.name_playlist{
  height: 27vh;
  overflow: auto;
}

.nav_bottom{
  width: 100%;
  height: 60px;
}

.install{
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

.install i{
  background-color: white;
  color: black;
  border-radius: 50%; 
  cursor: pointer;
}

.user{
  padding-top: 10px;
}

.user img{
  width: 15%;
  vertical-align: middle;
  background-color: grey;
  border-radius: 50%; 
  cursor: pointer;
}

.user span{
  padding-bottom: 10px;
  font-weight: 700;
  color: white;
}

/* SEZIONE SCELTA ALBUM  */
section{
  float: left;
  height: calc(100vh - 70px);
  overflow: auto;
  width: calc(100% - 200px);
}

/* UPGREAD */
.upgrade{
  position: fixed;
  z-index: 999;
  width: calc(100% - 200px);
  height: 70px;
  background-color: rgba(8, 11, 18, 0.8);
  text-align: right;
  
}

.upgrade button{
  padding: 5px 25px;
  margin: 5px;
  border-radius: 25px;
  margin: 20px;
  background-color: black;
  color: white;
  border-color: white;
  cursor: pointer;
}

.upgrade button:hover{
  transform: scale(1.2);
}

/* VARIETA' SCELTA BRANI*/
.category_album{
  width: 100%;
  margin-top: 70px;
  background-color: #21252C;
  padding: 0px 20px;
}

.category_album ul{
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}

.category_album ul li{
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 13px;
  color: #808287;
}

.category_album ul li:nth-child(1){
  position: relative;
}

.category_album ul li .line_lime{
  position: absolute;
  bottom: 0;
  left: 45px;
  width: 40px;
  height: 2px;
  background-color: lime;

}





.category_album h2{
  font-weight: 900;
  color: #ffffff;
  padding: 0 0 5px 5px;
}

.album{
  display: flex;
  justify-content: flex-start;
  text-align: center;
  padding-bottom: 50px;
}

.info_album
{
  padding: 0px 5px;
  width: calc(100% / 6);
}

.cover{
  position: relative;
}

.start{
  display: none;
}

.icon_start{
  display: none;
}

.cover:hover .start{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
}

.cover:hover .icon_start{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  z-index: 100;
  cursor: pointer;
  display: block;
}


.cover img{
  width: 100%;
  cursor: pointer;
}

.cover .circle{
  width: 100%;
  border-radius: 50%;
}

.title h3, .playlist h3{
  padding-bottom: 10px;
  font-weight: 700;
  color: white;
}

.category_album h6{
  padding-bottom: 10px;
  font-weight: 700;
  padding: 0 0 10px 5px;
  color: #5D6066;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #282828;
}

.play_album{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  width: 240px;
  height: 100%;
  padding-left: 10px;
}


.small_album{
  width: 25%;
}


.small_album img{
  width: 100%;
}

.name_album h6{
  color: #808287;
}

.name_album, .favorite{
  padding-left: 20px;
}

.name_album, .favorite i{
  padding-right: 4px;
}

.controller{
  color: white;
  text-align: center;
  min-width: 50%;
}

.controller_button i {
  font-size: 20px;
  padding: 0px 10px;
}

.controller_button i.play {
  font-size: 25px;
}

.time span{
  font-size: 10px;
}

.time .time_bar{
  position: relative;
  display: inline-block;
  width: 500px;
  height: 5px;
  background-color: #5A5A5A;
  border-radius: 5px;
}

.time_passed{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: inline-block;
  width: 100px;
  height: 5px;
  background-color: #C1C1C1;
  border-radius: 5px;
}

.volume{
  width: 240px;
}

.volume_icon{
  display: inline-block;
  vertical-align: middle;
}

.volume_icon i{
  color: white;
  padding-right: 20px;
}

.volume .volume_bar{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 5px;
  background-color: #5A5A5A;
  border-radius: 5px;
}

.volume_select{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: inline-block;
  width: 10px;
  height: 5px;
  background-color: #C1C1C1;
  border-radius: 5px;
}